/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom Styles */

body {
    line-height: 1.5;
    font-size: 16px;
    color: #fff;
}

hr {
    margin: 32px auto;
    border: 0;
    border-bottom: 2px solid #999;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.header {
    background-color: #2d3040;
    text-align: center;
    padding: 32px 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 16px;
}

.header a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 16px;
}

.hero {
    background-color: #2d3040;
    padding: 120px 0;
}

.hero-heading {
    font-size: 32px;
    text-transform: uppercase;
}

.hero-text {
    text-transform: uppercase;
    color: #ccc;
    font-size: 18px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.blog-title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.blog{
    background-color: #4C5C96;
    padding: 60px 0;
}

.blog-two {
    background-color: #45558D;
}

.blog-three {
    background-color: #3F4E85;
}
.blog-content {
    color: #ccc;
    font-size: 22px;
    margin-bottom: 22px;
}

.learn-more {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;

}

.footer
{
    background-color: #2d3040;
    padding: 20px 0;
    font-size: 15px;
    color: #ccc;
}