/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom Styles */

body {
    line-height: 1.5;
    padding-bottom: 200px;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding: 20px 180px;
}

hr {
    width: 500px;
    border-style: dashed;
    margin: 32px auto;
    border-color: gray;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

/* 
section {
    text-align: center;
} */

.box {
    width: 200px;
    height: 200px;
    background-color: #bada55;
    /* display: inline-block; */
    margin: 0 auto;
    border: 20px solid #add8e6;
    outline: 10px solid black;
    box-shadow: 0 0 0 30px #ed7f80;
}

.marker-container {
    text-align: center;
    margin-top: 40px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #bada55;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.padding {
    background-color: #add8e6;
}

.border {
    background-color: black;
}

.margin {
    background-color: #ed7f80;
}

.marker {
    margin:0 16px;
    display: inline-block;
}

p {
    text-align: center;
    font-size: 24px;
}

.container {
    width: 600px;
    border: 1px solid gray;
    margin: 12px auto;
    font-size: 0;
}

.child-box {
    width: 180px;
    height: 100px;
    margin: 10px;
    background-color: gray;
    display: inline-block;
}

.border {
    border: 1px solid black;
}

.sameline {
    box-sizing: border-box;
}